<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quanlythuvien">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_book_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_book_black_24dp"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="github.com" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="github.com" />
            </intent-filter>
        </activity>
        <activity android:name=".showInfor.Showkhkt"></activity>
        <activity android:name=".account.Dangki"></activity>
        <activity android:name=".addBook.Addsachkhkt"></activity>
        <activity android:name=".information.Thongtinkhkt"></activity>
        <activity android:name=".update.Updatekhkt"></activity>
        <activity android:name=".Chontheloai"></activity>
        <activity android:name=".showInfor.Showcntt"></activity>
        <activity android:name=".addBook.addsachcntt"></activity>
        <activity android:name=".information.Thongtincntt"></activity>
        <activity android:name=".update.Updatecntt"></activity>
        <activity android:name=".showInfor.Shownttc"></activity>
        <activity android:name=".update.Updatenttc"></activity>
        <activity android:name=".information.Thongtinnttc"></activity>
        <activity android:name=".addBook.addnttc"></activity>
        <activity android:name=".showInfor.Showgt"></activity>
        <activity android:name=".addBook.addgt"></activity>
        <activity android:name=".information.Thongtingt"></activity>
        <activity android:name=".update.Updategt"></activity>
        <activity android:name=".showInfor.Showvhnt"></activity>
        <activity android:name=".addBook.addvhnt"></activity>
        <activity android:name=".information.Thongtinvhnt"></activity>
        <activity android:name=".update.Updatevhnt"></activity>
        <activity android:name=".showInfor.Showttt"></activity>
        <activity android:name=".addBook.addttt"></activity>

        <activity android:name=".information.Thongtinttt"></activity>
        <activity android:name=".update.Updatettt"></activity>
        <activity android:name=".account.Dangnhap"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".Fragment.ThuVienFragMent"></activity>


    </application>

</manifest>